<script>
    window.history.pushState("", "", '/');
</script>
<!DOCTYPE HTML>
<html lang="en">

<body>
    <% if (typeof character !="undefined" ) { %>
        <p>
            Welcome <%= character.characterName %>
        </p>
        <% } %>
            <form method="POST" action="/">
                <textarea name="paste"></textarea>
                <button type="submit">Submit</button>
            </form>
            <form method="GET" action="/signon">
                <button type="submit">Login</button>
            </form>
</body>

</html>