<script>
    window.history.pushState("", "", '/');
</script>
<!DOCTYPE HTML>
<html lang="en">

<body>
    <% if (typeof character !="undefined" ) { %>
        <p>
            Welcome <%= character.characterName %>
        </p>
        <% } %>
            <form method="POST" action="/">
                <textarea name="paste" style="width: 800px; height: 420px;">
Ambre Dall'Oglio
Amnesty SayGen
April Hikari
Awers
BiggerDaveA1
Bionorica
Chung Mu
Dumbie Machplatti
Dust Crown
Essew Kadoko
Exok Obitus
Farm Delay
FishPooL HH
Gold On Ivory
Grag Otho
Gravity Whale
Gugl1 Molou
Holywallrus Alabel
Hustlan Jones
Hydschin Ahrire
Intro Spectre
Jacks Cen
Jacks Xen
Jeebz
Johnie Stark
Johnny Trousersnake
Joza Brankovic
KAA
Khara Kleib
Kilo-X
Kilo181
kirtan Loar
Leviathan Nugspawn
Listrentite
Lith Pie
Lov d'Hirondelle
Luna Zivkovic
Mawderator
Mc Crecket
Missiles Suck
Namo Vala'ar
On His Knees
Ounar Zanok
Pierre Pont
Prince of BelAir
Proxey
Qor'Esch
rdmr
rebagged
Rebecca en Chasteaux
Repzec
Rya Anthar
Samosaga Ludis
Securitas Protector
Storm OnTime
Surprise Dreads
Tau Amari
TCHAR TAKAO
Terresa Achasse
Thaiax Pellion
Tina Zabkova
TopKek Hemah
Toxic Apollo
Urs Blank
Vertiso Ambraelle
viceman
VoiceInYourHead
w1star
Warang
Welpzilla
Wolf SilverShard
Yanxe
Zxadine
                </textarea>
                <button type="submit">Submit</button>
            </form>
            <form method="GET" action="/signon">
                <button type="submit">Login</button>
            </form>
</body>

</html>